{% extends "base.html" %}
{% block title %}Battle - detailed outcome{% endblock %}
{% block content %}
      <div>
    <h4>Name: {{ trainer.name }}</h4>
    <h4>Team: {{ trainer.get_team_display }}</h4>
    <h5>Owned Pokemon:</h5>
    <ul>
    {% for pokemon in trainer.pokemon.all %}
        <li>{{ pokemon }}</li>
    {% empty %}
        <p>You have no owned Pokemon yet!</p>
    {% endfor %}
    </ul>
      <h4>You are about to battle {{ battle.name }}!</h4>
      <span class="badge badge-pill bg-primary">{{ battle.get_type_display}}</span>
                    {% if battle.second_type %}
                 <span class="badge badge-pill bg-primary">{{ battle.get_second_type_display}}</span>
                    {% endif %}
      <h5>Fast attack: {{ battle.fast_attack.name }}, {{ battle.fast_attack.power }} power <span class="badge badge-pill bg-primary">{{ battle.fast_attack.get_type_display }}</span></h5>
      <h5>Charged attack: {{ battle.charged_attack.name }}, {{ battle.charged_attack.power }} power <span class="badge badge-pill bg-primary">{{ battle.charged_attack.get_type_display }}</span></h5>
    <p>Choose desired mode:</p>

           <form method="post">
        {% csrf_token %}
        <select name="mode" id="mode">
            <option value="balanced">Balanced</option>
            <option value="defensive">Defensive</option>
            <option value="offensive">Offensive</option>
        </select>
               <button type="submit">Prepare for battle</button>
           </form>
        </div>
        <!--SectionORI: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for pokemon in suggestion %}

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">
            <!--<a href={% url 'pokemon_details' pokemon.0.name %} style="color:black;text-decoration:none;"> -->
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ MEDIA_URL }}{{ pokemon.0.image.url }}" style='display:block; height: 100%; width: 100%' class="card-img-top" alt="">
                  <div class="mask rgba-white-slight"></div>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  <span class="badge badge-pill bg-primary">{{ pokemon.0.get_type_display}}</span>
                    {% if pokemon.0.second_type %}
                 <span class="badge badge-pill bg-primary">{{ pokemon.0.get_second_type_display}}</span>
                    {% endif %}
                <h5>
                  <strong>
                    {{ pokemon.0 }}
                  </strong>
                </h5>
              <h6>Pokemon fast move: {{ pokemon.0.fast_attack.name }}</h6>
              <h6>Pokemon charged move: {{ pokemon.0.charged_attack.name }}</h6>
              <h6>Damage per second: {{ pokemon.1 }}</h6>
              {% if pokemon.2 %}
              <h6>Damage received per second: {{ pokemon.2 }}</h6>
              {% endif %}
              {% if pokemon.3 %}
              <h6>Overall score: {{ pokemon.3 }}</h6>
              {% endif %}
              </div>
              <!--Card content-->
            </div>
            <!--Card-->
            </a>
          </div>
          <!--Grid column-->

          {% endfor %}
        </div>

      </section>

{% endblock %}