{% extends "base.html" %}
{% block title %}Profile - {{ trainer.name }}{% endblock %}
{% block content %}
    <div>
    <h4>Name: {{ trainer.name }}</h4>
    <h4>Team: {{ trainer.get_team_display }}</h4>
    <h5>Owned Pokemon:</h5>
    <ul>
    {% for pokemon in trainer.pokemon.all %}
        <li>pokemon</li>
    {% empty %}
        <p>You have no owned Pokemon yet!</p>
    {% endfor %}
    </ul>
    <p>Choose desired type:</p>
        <form method="post">
        {% csrf_token %}
        <select name="type" id="type">
            <option value="">Pick primary type</option>
            {% for type in types %}
          <option value="{{ type.0 }}">{{ type.1 }}</option>
            {% endfor %}
        </select>
        <select name="second_type" id="second_type">
            <option value="">Pick secondary type</option>
            {% for type in types %}
          <option value="{{ type.0 }}">{{ type.1 }}</option>
            {% endfor %}
        </select>
            <button type="submit">Filter</button>
        </form>
           <p>Type: {{ get_chosen_display }} {{ get_second_chosen_display }}</p>
    </div>
        <!--SectionORI: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for pokemon in filtered %}

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                {% if pokemon.image %}
                <img src="{{ MEDIA_URL }}{{ pokemon.image.url }}"style='display:block; height: 100%; width: 100%' class="card-img-top" alt="">
                {% endif %}
                  <div class="mask rgba-white-slight"></div>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  <h5><span class="badge-pill">{{ pokemon.get_type_display}}</span></h5>
                    {% if pokemon.second_type %}
                  <h5><span class="badge-pill">{{ pokemon.get_second_type_display}}</span></h5>
                    {% endif %}
                <h5>
                  <strong>
                    {{ pokemon }}
                  </strong>
                </h5>
              </div>
              <!--Card content-->
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->

          {% endfor %}
        </div>

      </section>
    <!--
    <div class="container-xl">
        <section class="pokedex">
            <ul>
{#            {% for poke in filtered %}#}
{#                <li>#}
{#                {{ poke }}#}
{#                </li>#}
{#            {% empty %}#}
{#            {% endfor %}#}
            </ul>
        </section>
    </div>
    -->
{% endblock %}